@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #eeecec;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 2px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 30px;
    z-index: 2;

}

header .cont-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

header .menu {
    /* display: inline-block; */
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #066cf1;
    font-weight: bold;

    &:hover {
        opacity: .5;
    }
}

.container {
    margin-top: 90px;
    background-image: url('../img/cruz.jpg');
    background-position: center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.container .frase {
    font-size: 3em;
    max-width: 50%;
    text-align: center;
    color: #066cf1;
    text-shadow: 1px 1px 5px;
}




/* Animação */


@media (min-width: 1800px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;
    }
}